---
import { useTranslations } from "../../../i18n/utils";
import Layout from "../../../layouts/Layout.astro";
import { getDomainAndLang } from "../../../utils";

const [, lang] = getDomainAndLang(Astro.url.pathname);

const t = useTranslations(lang);
---

<Layout lang={lang}>
  <h1>404</h1>
  <p>{t("404.page-not-found")}</p>
</Layout>
