---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import ProductListing from "../components/ProductListing.astro";
import { getProducts } from "../api";
import "../styles/common.css";

const products = await getProducts(Astro.request);
---

<Layout>
  <Container tag="main">
    <ProductListing products={products}>
      <h2 class="product-listing-title" slot="title">Product Listing</h2>
    </ProductListing>
  </Container>
</Layout>
