---
import { getLang, useTranslations } from "../i18n/utils";

const lang = getLang(Astro.url, Astro.cookies);
const t = useTranslations(lang);
---

<style>
  button {
    display: block;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 100px;
    border: none;
    font-size: 1.4em;
    position: relative;
    background: #0652dd;
    cursor: pointer;
    height: 2em;
    overflow: hidden;
    transition: transform 0.1s;
    z-index: 1;
  }
  button:hover {
    transform: scale(1.1);
  }

  .pretext {
    color: #fff;
    background: #0652dd;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
  }
</style>
<button type="submit">
  <span class="pretext">{t("pdp.add-to-cart")}</span>
</button>
