---
import Header from "../components/Header.astro";
import CartFlyout from "../components/CartFlyout";
import { useTranslations } from "../i18n/utils";
import "../styles/common.css";

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<html lang={lang}>
  <head>
    <title>{t("header.title")}</title>
    <meta charset="utf-8" />
    <style>
      h1 {
        font-size: 36px;
      }

      .product-listing-title {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <Header lang={lang} />
    <slot />
    <CartFlyout client:only="solid-js" />
  </body>
</html>
