---
import Header from "../components/Header.astro";
import CartFlyout from "../components/CartFlyout";
import "../styles/common.css";

import { getLang } from "../i18n/utils";
const lang = getLang(Astro.url, Astro.cookies);
---

<html lang={lang}>
  <head>
    <title>Online Store</title>
    <meta charset="utf-8" />
    <style>
      h1 {
        font-size: 36px;
      }

      .product-listing-title {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <Header />
    <slot />
    <CartFlyout client:load />
  </body>
</html>
